<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>선거 번호</th> <th>후보명</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="candidate : ${candidates}">
                    <td th:text="${candidate.number}"></td>
                    <td th:text="${candidate.name}"></td>
                    <td>
                        <a href="#" th:href="@{/sns/{id} (id=${candidate.id})}" class="btn btn-primary" role="button">SNS</a>
                    </td>
                    <td>
                        <a href="#" th:href="@{/youtube/{id} (id=${candidate.id})}" class="btn btn-primary" role="button">youtube</a>
                    </td>
                    <td>
                        <form role="form" th:action="@{/candidates/remove/{id} (id=${candidate.id})}" method="post">
                            <button type="submit" class="btn btn-danger">후보 삭제</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div>
            <a th:href="@{/candidates/register/{id} (id=${cityId})}" class="btn btn-link" role="button">후보 등록</a>
        </div>

    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>